/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* CSS VARIABLES */
:root {
    /* Colors */
    --light-color: #fcfcfc;
    --accent-color: #168378;
    --darkest-color: #343434;
    --dark-color: #747272;

    /* Font families */
    --ff-primary: 'Poppins', sans-serif;

    /* Font weight */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;

    /* Font sizes */
    --fs-h1: 1.375rem;
    --fs-h2: 1.125rem;
    --fs-h3: 1rem;
    --fs-body: 1rem;
    --fs-small: .875rem;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
    font-weight: var(--fw-light);
    background: var(--light-color);
    color: var(--darkest-color);
}

ul {
    padding: 0;
    list-style: none;
}

.bullet-list {
    margin-left: 1em;
}

.bullet-list li::before {
    content: "\2022";  /* \2022 is the CSS Code/unicode for a bullet */
    color: var(--accent-color); 
    font-weight: var(--fw-medium);
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em;
    margin-left: -1em;
}

img {
    max-width: 100%;
}

/* GLOBAL TYPOGRAPHY STYLES */
a {
    color: var(--darkest-color);
    text-decoration: none;
}

h1, h2, h3, ul, p {
    margin: 0;
}

h1, h2 {
    font-weight: var(--fw-regular);
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-medium);
}

strong {
    font-weight: var(--fw-regular);
}

.bx, 
.accent {
    color: var(--accent-color);
}


/* GLOBAL SECTION STYLES */
section {
    padding: 0 1.5em 1.5em;
}

.section-title-container {
    position: relative;
    color: #fff;
}

.section-title::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: var(--accent-color);
    z-index: -1;
}

.section-title {
    width: fit-content;
    min-width: 180px;
    background: var(--accent-color);
    color: var(--light-color);
    padding: .1em .5em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    margin: 0 auto 1em;
}

/* LAYOUT STYLES */
.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5em;
}

.grid {
    display: grid;
    gap: .5em;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* INTRO SECTION */
.intro-section {
    text-align: center;
}

.job-title {
    color: var(--accent-color);
    text-transform: uppercase;
    letter-spacing: .8px;
}

.profile-pic {
    width: 40%;
    border-radius: 50%;
}


/* CONTACT SECTION */
.contact-icon {
    font-size: var(--fs-h2);
    margin: .08em .25em 0 3.5em;
}

.contact-detail, .contact-detail a {
    display: flex;
    align-items: center;
}


/* PROFILE SECTION */
.profile-description {
    text-align: center;
}


/* EDUCATION SECTION, COURSES SECTION */
.years, .institution {
    font-size: var(--fs-small);
    font-weight: var(--fw-light);
}

.years {
    color: var(--dark-color);
}

.institution {
    color: var(--accent-color);
}

.education-point {
    gap: .2em;
}

.education-point:not(.education-point:last-of-type) {
    margin-bottom: 1em;
}


/* MEDIA QUERIES */
@media(min-width: 720px) {
    .resume {
        flex-direction: row;
    }

    .resume-left {
        width: 30%;
        margin-right: 3em;
        border-right: 3px solid var(--accent-color);
    }
}